.jumbotron {
    background-color: #E9EFFF;
    font-family:'Pacifico', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 0rem;
}
div.card{
    font-family: 'Bellefair', serif; 
    
}
.mainbackground{
    background-image: url("../images/background.png");
    margin-left: 0%;
}
.row{
    margin-bottom: 3rem;
}

@media (min-width: 1200px){
.container{
    max-width:1240px;
}
.mainbackground{
    height:100%;
}
}